

button {
  background-color: #E07BE0;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 15px;
}

button:hover {
  background-color: #932F6D;
}

img{
  width: 110px;
}

.traffic{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}